extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='GET' action='/')
    p USERNAME
    input(type='text' name='username')
    p PASSWORD
    input(type='text' name='password')
    input(type='submit')
